@page
@model ProblemSolvingPlatform.Views.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Probleme[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probleme[0].Descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probleme[0].Difficulte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Probleme) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulte)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProbId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProbId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
